@import "normalize.css";
html {
	background-color: white;
	box-sizing: border-box;
	background-color: #F6FFC7;
}
body {
	width: 960px;	
	margin:0 auto;
	background-color: white;		
}
main {
	height: 1000px;
	display: flex;
	flex-direction: column;
}
.gradients {
	width: 100%;
	display: flex;
	height: 300px;
	justify-content: center;
}
.gradients div {
	width: 270px;
	height: 160px;
	margin: 25px;
}
.grad1 {
	background: linear-gradient( 324deg, #ff6e02 0%, #ffff00 50%, #ff6d00 100%);	
}
.grad2 {
	background: radial-gradient( circle closest-side, #290a59 0%, #ff7c00 100%);	
}
.scl {
	width: 400px;
	height: 250px;
	background-color: #FF3030;
	margin:25px auto;
	border-radius: 5%;
	border:3px white solid;
	transition: transform .7s ease;
}
.scl:hover {
	transform: scale(2,2);
	transition: transform 1s linear;
}
.container {
	margin:50px auto;
	width: 250px;
	color: white;
	font-size: 20px;
	text-align: center;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d; 
    transform-style: preserve-3d;
  	-webkit-perspective: 1200;
  	perspective: 1200;
  	-moz-transform: perspective(1200px); 
}
.flipper {	
	width: 250px;
	height: 250px;
	border-radius: 10px;
	margin:0 auto;
	position: relative;
  	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;	
  	-webkit-transition: .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  	-moz-transition: .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  	-o-transition: .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  	transition: .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.front, .back {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 20px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
 	border-radius: 5%;
   	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.front {
	z-index: 2;
	background: repeating-radial-gradient(circle farthest-corner at 100px 50px, #A92939, #A5FFD5);
}

.back {
	background: repeating-radial-gradient(circle farthest-corner at 5px 250px, #B53838, #2944A9);
  	-webkit-transform: rotateY(-180deg);
  	-moz-transform: rotateY(-180deg);
  	-ms-transform: rotateY(-180deg);
  	transform: rotateY(-180deg);
}
.container:hover .flipper {
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}